body,
div,
form,
input,
h2,
h3,
p,
a,
span,
ul,
li {
  margin: 0;
  padding: 0;
}

:root{
  --theme_color : #a04cf7;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main {
  background-color: #fff;
}

.nav {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.fast {
  width: 100vw;
  height: 84vh;
  overflow: hidden;
}

.arc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300vw;
  height: 300vw;
  border-radius: 50%;
  background-color: var(--theme_color);
  transform: translate3d(-100vw, calc(78vh - 300vw), 0);
  box-shadow: 0 2vw 6vw #bb7cff;
}

/* ===== 调用搜索时被加入DOM */
.arc-active {
  opacity: 0;
  transition-duration: 200ms;
  transform: translate3d(-100vw, calc(78vh - 400vw), 0);
}

.set-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10vw 4vw;
  width: 7vw;
  height: 7vw;
  z-index: 102;
}

.set-btn span {
  display: block;
  width: 5vw;
  height: 3px;
  border-radius: 1vw;
  background-color: #fff;
}

.set-btn span:nth-child(2) {
  margin-left: 2vw;
}

.fast-btn-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  height: 36vw;
  transform: translate3d(0vw, calc(150vw - 24vh), 0);
}

.fast-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 18vw;
  height: 18vw;
  border-radius: 3vw;
  padding: 2vw 0;
  box-sizing: border-box;
}

.fast-icon {
  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #c5c4c4;
}

.fast-icon img {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.fast-title {
  display: block;
  width: 16vw;
  font-size: .22rem;
  text-align: center;
  line-height: 100%;
  color: #dddddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.up-search {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 16vh;
  background-color: #fff;
  border-top-left-radius: 10vw;
  border-top-right-radius: 10vw;
  text-align: center;
  box-shadow: 0 0 8vw #bb7cff40;
  transition-duration: 200ms;
}

/* ===== 调用搜索时被加入DOM */
.up-search-active {
  opacity: 0;
}

.up {
  flex: 2;
  text-align: center;
  font-size: .24rem;
}

.search-fake {
  display: flex;
  flex: 3;
  justify-content: center;
}

.search-fake-frame {
  height: .8rem;
  width: 90vw;
  border: 1px solid #454545;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: .5vw 1vw 3vw #cb9aff;
}

.search-e-icon{
  position: relative;
  margin: .15rem .15rem;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0.01rem 0.01rem 0.2rem #dedede;
}

.search-e-icon img{
  width: .5rem;
  /* transform: translateY(-0.5rem); */
}

.search {
  position: absolute;
  width: 100vw;
  height: 10rem;
  z-index: 10;
  opacity: 0;
  transition-duration: 200ms;
  transform: translateY(-100vh);
}

.search-active {
  opacity: 1;
  z-index: 200;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-input {
  padding: 0 .32rem;
  box-sizing: border-box;
  height: .8rem;
  width: 90vw;
  font-size: .32em;
  border: 1px solid #adadad;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 1vw 1vw 3vw #cb9aff50;
  transform: translateY(1rem);
  resize: none;
}

.search-input:focus {
  outline: none;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 300vw;
  background-color: rgb(168, 168, 168);
}

.tools-item {
  font-size: .32rem;
}

.setBg {
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition-duration: 400ms;
  background-color: rgba(125, 125, 125, 0.4);
}

.set {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  z-index: 300;
  transform: translateX(-60vw);
}

.set-item {
  padding: 1vw 4vw;
  font-size: .32rem;
}

.set-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 7vw;
  height: 7vw;
  margin: 10vw 4vw;
}

.set-back span {
  display: block;
  width: 5vw;
  height: 3px;
  border-radius: 1vw;
  background-color: #454545;
}

.set-back span:nth-child(1),
.set-back span:nth-child(3) {
  margin-left: 2vw;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: var(--theme_color);
}

.head-name {
  width: 2rem;
  padding: 0 0.2rem;
  font-weight: normal;
  font-size: 0.4rem;
}

.set-item-tit {
  font-weight: normal;
  font-size: 0.32rem;
}

.set-item-tit span{
  margin-right: 1vw;
  font-weight: 600;
}

.set-chose-box {
  margin: 1vw 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.set-chose-box span {
  background-color: var(--theme_color);
  border-radius: 50%;
}

.set-chose-small span {
  width: 8vw;
  height: 8vw;
}

.set-chose-big span {
  width: 10vw;
  height: 10vw;
}

#searchE_item span{
  background: url(../static/img/searchE.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#searchE_item :nth-child(2){
  background-position: 0 -8vw;
}

#searchE_item :nth-child(3){
  background-position: 0 -16vw;
}

#searchE_item :nth-child(4){
  background-position: 0 -24vw;
}

#searchE_item :nth-child(5){
  background-position: 0 -32vw;
}

.set-th{
  width: 100%;
  height: 1px;
  margin: 2vw 0;
  background-color: #cdcdcd;
}

