body,
a,
div,
button,
span,
p,
h1,
h3 {
  margin: 0;
  padding: 0;
}

i{
  font-style: normal;
}

input {
  outline: none;
  box-sizing: border-box;
  border: none;
}

:root {
  /* --origin_vh: 100vh; */
  --selected_bg: #FF6D00;
  --rotate: 180deg;
  --rotate_end_time: 1s;
}

@keyframes start {
  to {
    transform: rotate(360deg);
  }
}

@keyframes run {
  to {
    transform: rotate(1800deg);
  }
}

@keyframes end {
  to {
    transform: rotate(calc(360deg + var(--rotate)))
  }
}


body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 86vw;
  height: 90vh;
  border-radius: 5vw;
}

.main::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: inherit;
  z-index: -1;
  filter: blur(.3rem) brightness(.95)
}

.selected {
  background-color: var(--selected_bg);
  color: #fff;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.tit {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 2;
  font-size: .72rem;
  letter-spacing: .04rem;
  text-align: center;
}

.head-box {
  display: flex;
  justify-content: center;
  flex: 3;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  transition: all 300ms;
}

.box-other {
  flex: 1;
}

.box-edit {
  flex: 0;
  /*!@#$%^&*!@#$%^&*!@#$%^&*()*/
}

.box-content {
  width: 90%;
  height: 80%;
  border-radius: 2vw;
}

.other-content {
  background-color: rgba(255, 255, 255, 0.493);
  background-image: url(../../static/img/man.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 .6rem;
}

.other-content-tit {
  margin: 1rem 0;
  font-size: .4rem;
  letter-spacing: .02rem;
  text-align: center;
  font-weight: bold;
  transition: all 300ms;
}

.other-content-act {
  padding: .1rem .2rem;
  display: flex;
  flex-direction: column;
}

.other-content-tit-act {
  margin: 0;
  font-size: .28rem;
  letter-spacing: .01rem;
  text-align: start;
  font-weight: normal;
}

.other-content-body {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: auto;
  margin-top: .2rem;
  visibility: visible;
  transition: all 300ms;
}

.hidden {
  visibility: hidden;
}

.other-item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.other-item {
  font-size: .26rem;
  margin: .06rem;
  padding: .04rem .06rem .04rem .1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, .5);
}

.other-item span {
  margin: 0 0 0 .1rem;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 50%;
}

.other-item-act {
  border-color: #ff6d00;
  background-color: rgba(255, 255, 255, .8);
}

.add-item {
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.add-item span {
  display: block;
  margin: 0;
  background-color: rgba(255, 255, 255, .6);
  transform: rotate(45deg);
  font-size: .40rem;
  color: #ff6d00;
}

.item-detail-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item-detail-tit {
  margin: 0 0 .06rem .1rem;
  padding: 0 .16rem;
  border-radius: 1rem;
  width: 3rem;
  height: .38rem;
}

.line-br {
  width: 100%;
  height: 1px;
}

.item-detail-form .other-item {
  padding: 0 .06rem
}

.item-detail-form .other-item input {
  margin: 0;
  padding: 0 .16rem;
  height: .34rem;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 1.5rem;
}












.other-content-foot {
  font-size: .28rem;
}

.control-box {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.control {
  margin: 0 .2rem;
  padding: .04rem .4rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #ff6d00;
}










.edit-content {
  background-color: rgba(255, 255, 255, 0.479);
  background-image: url(../../static/img/relax.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 .7rem;
}

.edit-content-tit {
  margin: 1rem 0;
  font-size: .4rem;
  letter-spacing: .02rem;
  text-align: center;
  font-weight: bold;
}








/* ======== 弹窗 */
.warning {
  position: absolute;
  margin: 0 auto;
  top: 0;
  width: 100%;
  height: 1.8rem;
  background-color: #fff;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .28rem;
}

.warning h3{
  flex: 1;
  margin: .2rem 0;
}

.warn-control{
  width: 100%;
  border-top: 1px solid #bac8e0;
  height: .72rem;
  display: flex;
  
}

.warn-control div{
  width: 50%;
  text-align: center;
}

.warn-control-l{
  border-right: 1px solid #bac8e0;
}

.warn-btn{
  padding: 0 .5rem;
  line-height: .72rem;
}



/* ======== 下方转盘部分 */
.rotate-box {
  display: inline-block;
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.rotate {
  display: flex;
  justify-content: center;
  width: 90vh;
  height: 90vh;
  border-radius: 50%;
  transform: rotate(0deg);
  transition-duration: 400ms;
}


.rotate-start {
  animation: start 1s ease-in forwards;
}

.rotate-run {
  animation: run 3s linear forwards;
}

.rotate-end {
  animation: end var(--rotate_end_time) ease-out forwards;
}

.card {
  text-align: center;
  position: absolute;
  padding: 8vh 2vh 0 2vh;
  width: 16vh;
  height: 24vh;
  background-color: #fff;
  transform-origin: 50% 45vh 0;
  border-radius: 1.2vh;
  font-size: .42rem;
  overflow: hidden;
}

.name {
  position: absolute;
  z-index: 10;
}

.bg-red {
  background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.bg-pink {
  transform: rotate(20deg);
  background: linear-gradient(#FEB692 10%, #EA5455 100%);
}

.bg-purple {
  transform: rotate(40deg);
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.bg-dark-purple {
  transform: rotate(60deg);
  background: linear-gradient(to top, #c165dd 0%, #5c27f1 100%);
}

.bg-indigo-blue {
  background: linear-gradient(#52E5E7 10%, #130CB7 100%);
  transform: rotate(80deg);
}

.bg-blue {
  transform: rotate(100deg);
  background: linear-gradient(to top, #5581f1 0%, #1153fc 100%);
}

.bg-light-blue {
  transform: rotate(120deg);
  background: linear-gradient(#2AFADF 10%, #4C83FF 100%);
}

.bg-cyan {
  transform: rotate(140deg);
  background: linear-gradient(#65FDF0 10%, #1D6FA3 100%);
}

.bg-tyr {
  transform: rotate(160deg);
  background: linear-gradient(#81FBB8 10%, #28C76F 100%);
}

.bg-green {
  transform: rotate(180deg);
  background: linear-gradient(#70F570 10%, #49C628 100%);
}

.bg-light-green {
  transform: rotate(200deg);
  background: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
}

.bg-lime {
  transform: rotate(220deg);
  background: linear-gradient(#F0FF00 10%, #58CFFB 100%);
}

.bg-yellow {
  transform: rotate(240deg);
  background: linear-gradient(#FDEB71 10%, #F8D800 100%);
}

.bg-amber {
  transform: rotate(260deg);
  background: linear-gradient(#FFE985 10%, #FA742B 100%);
}

.bg-orange {
  transform: rotate(280deg);
  background: linear-gradient(#FCCF31 10%, #F55555 100%);
}

.bg-dark-orange {
  transform: rotate(300deg);
  background: linear-gradient(#FDD819 10%, #E80505 100%);
}

.bg-coffee {
  transform: rotate(3200deg);
  background: linear-gradient(#eae7e8 10%, #837278 100%);
}

.bg-gray {
  transform: rotate(340deg);
  background: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.choice-item {
  z-index: 100;
  border: .06rem solid rgba(255, 255, 255, .8)
}










.btn-box {
  position: absolute;
  bottom: -15vw;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border: .06rem solid #c165dd;
  outline: none;
  background-color: #fff;
  color: #666;
  font-size: .6rem;
  letter-spacing: .06rem;
  text-align: center;
  text-shadow: .02rem .02rem .03rem rgba(144, 144, 144, .8);
  font-weight: 600;
}

.btn-start {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 24vw;
}

.btn-ban {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 100;
  background-color: rgba(240, 240, 240, .8);
}

.btn-restart {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: .38rem;
  line-height: 24vw;
  background-color: #fff;
}

.no-display {
  display: none;
}